<p class="lead">
  I'm a ...
</p>
<ul>
  <li>Shachiku.</li>
  <li>IT senshi with agile soul.</li>
  <li>ASP.NET MVC Programmer.</li>
  <li>Ruby (Rails, Rubymotion, etc) Programmer.</li>
  <li>Supporter of Mito Hollyhock.</li>
</ul>
